textarea {
    max-height: 8rem !important;
    overflow-y: scroll;
}

.page-heading {
    display: flex;
    justify-content: space-between;
}

.product-card-title {
    background-color: black;
    opacity: 0.5;
    width: 100%;
}

.index-title {
    margin-left: 15px;
}

.custom-modal {
    display: none;
    z-index: 1;
    position: fixed;
    overflow: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-card {
    z-index: 2;
}

.custom-row,
.custom-col {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-backdrop {
    display: none;
}

.modal-close {
    top: 0;
}

.stars {
    display: flex;
}

.star {
    font-size: x-large;
}

.star-gold {
    color: gold;
}

.backdrop-background {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.valign-wrapper {
    flex-wrap: wrap;
}